*{
box-sizing: border-box;
}
body{
   background-color: #f7f7f7;
   .inder-regular {
  font-family: "Inder", sans-serif;
}

}
.page-wrapper {
   max-width: 375px;
   margin: auto;
   background-color: #f7f7f7;
   box-shadow: 0px 0px 30px rgba(128, 127, 127, 0.25);
   border-radius: 20px;
   padding: 40px 42px 145px;
}
.header {
   color: #000;
  border: 1px solid #000;
width: 398px;
height: 239px; 
 background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
background-position: center;
border-radius: 0px 0px 90px 90px;
}
