* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: "Inder", sans-serif;
}

.page-wrapper {
   overflow: hidden;
  max-width: 375px;
  margin: auto;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 30px rgba(128, 127, 127, 0.25);
  border-radius: 20px;
}
.container {
max-width: 300px;
margin: auto;
}

.header {
  color: #000;
  border: 1px solid #000;
  height: 239px; 
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px 0px 90px 90px;
  padding: 40px 42px 145px;
}
.hello {
   font-family: var(--font-family);
font-weight: 900;
font-size: 24px;
color: #d9d9d9;
}
.hello-text{
 font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
color: #fff;
}
.user{
 margin-top: -40px;
text-align: center;
background-color: #fff;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
border-radius: 10px;
padding-bottom: 20px;
}
.user-avatar{
margin-top: -43px;
   border-radius: 50%;
   object-fit: cover;
}
.user-name{
 margin-top: 8px;
margin-bottom: 4px;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #000;
}
.user-description{
font-weight: 500;
font-size: 14px;
line-height: 15px;
text-align: center;
color: #666;
}
.card {
  background-color: #fff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 12px;
  margin-top: 12px;
  Padding: 20px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  max-width: 260px;
  margin: auto;
  gap: 10px;
}
.button{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 40px;
   flex-shrink: 1;
   width: 100%;
   border-radius: 5px;
   text-decoration: none;
   font-weight: 500;
   font-size: 12px;
   line-height: 15px;
   margin-bottom: 6x;
}
.button.gh{
  width: 100%;
    margin-top: 10px;
}